#ignore build dir
./build/*
# Ignore bin directory
./bin/*
# ignore __pycache__ directories
__pycache__/
# Ignore Python bytecode files
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/
# Ignore log files
*.log
# Ignore coverage reports
*.coverage
# Ignore logs folders at any depth
logs/
**/logs/**
#ignore pdf files
*.pdf
